client/node_modules
client/package-lock.json
client/yarn.lock
client/build

server/.env

server/use.js

server/routes/register/node_modules
server/routes/register/package-lock.json
server/routes/register/registerLayer

server/routes/login/node_modules
server/routes/login/package-lock.json
server/routes/login/loginLayer

html/

.DS_Store