#logout {
    float: right;
    margin-right: 7rem;
    margin-top: 3rem;
    width: 100px;
    height: 40px;
    border-radius: 1rem; }
    #logout:hover {
        cursor: pointer; }

#welcomeMessage {
    position: absolute;
    left: 45.5rem;
    top: 1rem;
}        
#filterDropdownContainer {
    position: absolute;
    top: 29rem;
    right: 33rem; }
    #filterDropdown {
        border-radius: 0.5rem; }
        #filterLabel {
            margin-right: 5px; }

#browse {
    position: absolute;
    left: 22rem;
    top: 14rem; }
    .browseLogo {
        height: 30px;
        width: 90px
    }

#yourContent {
    position: absolute;
    float: left;
    left: 9rem;
    top: 28rem; }
   /*  .contentContainer {
        position: absolute;
        bottom: 0;
        max-width: 80%;
        margin-left: 2rem;
        top: 33rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; } */
       /*  .userContent {
            border: 1px solid black;
            margin: 0 15px 15px 0;
            padding: 1rem 3rem 1rem 3rem; 
            justify-content: center;
            text-align: center;
            flex-direction: inherit; } */
            /* .deleteButton {
                color: red;
                border-radius: 0.5rem; } */
               /*  .deleteButton:hover {
                    cursor: pointer; } */
                   /*  .contentImage {
                        width: 170px;
                        height: 190px; } */

#newContent {
    font-weight: bold;
    position: absolute;
    left: 77rem;
    top: 10rem; 
    float: right; }
    .newContentContainer {
        position: absolute;
        bottom: 19rem;
        left: 68rem;
        max-width: 25%;
        margin-left: 3rem;
        margin-top: 9rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; }
        .newContent {
            border: 1px solid pink;
            margin: 0 15px 15px 0;
            padding: 1rem 3rem 1rem 3rem; 
            justify-content: center;
            text-align: center;
            flex-direction: inherit; }
            .contentImage {
                width: 120px;
                height: 140px; }

#addContentContainer {
    position: relative;
    top: 16rem;
    left: 4rem; }
    #addContentForm input {
        border-radius: 3rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem; }
        #addContentForm input[type="submit"] {
            width: 6rem;
            background-color: darkslategrey;
            color: whitesmoke; }
            #addContentForm input[type="submit"]:hover {
                cursor: pointer; }

#categoryDropdown{
    border-radius: 3rem;
    width: 9rem;
    margin-bottom: .5rem;
    height: 24px;
    margin-left: 0.5rem;
}

.slider {
    width: 500px;
    height: 300px;
    background-color: white;
    margin-left: auto;
    margin-right: 20rem;
    margin-top: -4rem;
    text-align: center;
    overflow: hidden; }
    .image-container {
        width: 1500px;
        background-color: white;
        height: 300px;
        clear: both;
        position: relative;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s; }
        .slide {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative; }
            #slide-1:target ~ .image-container {
                left: 0px; }
                #slide-2:target ~ .image-container {
                    left: -500px; }
                    #slide-3:target ~ .image-container {
                        left: -1000px; }
                        .buttons {
                            position: relative;
                            top: -20px; }
                            .buttons a {
                                display: inline-block;
                                height: 15px;
                                width: 15px;
                                border-radius: 50px;
                                margin-right: 0.5rem;
                                background-color: whitesmoke }